### IntelliJ IDEA ###
.idea/
*.iml

### Package File ###
/target/*
!.mvn/wrapper/maven-wrapper.jar
*.jar
*.zip
*.tar.gz

### MAVEN File ###
mvnw
mvnw.cmd

### LOG File ###
/var/*
/var/logs/*.log*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
